body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/091/640/original/pexels-lumn-1028600.jpg?1690747709");
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
  padding: 0 10px 15px 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
h1 {
  text-align: right;
  color: #53596a;
}
.cell {
  opacity: 0.7;
  background-color: #9896f1;
}
.cell:hover {
  opacity: 1;
}

h1,
.card {
  font-family: "Noto Serif Vithkuqi", serif;
  font-size: 30px;
}
#description::first-letter{
  text-transform: capitalize;
}
.city,
.currentTime,
.percentages,
.temp,
.forecast,
.sun {
  font-size: 20px;
  text-align: center;
}
.lowbar {
  text-align: center;
}
.days,
.highlow {
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.mainsun {
  font-size: 150px;
  color: rgb(38, 14, 117);
}
.cloudy {
  font-size: 80px;
  color: rgb(18, 92, 113);
  text-align: center;
}
footer {
  text-align: center;
  color: #28176d;
  background-color: rgb(236, 193, 215, 0.7);
  max-width: 700px;
  margin: 0 auto;
  border-radius:4px;

}
.git,.resume{
  text-decoration: none;
  color:#260E75;
}
.git:hover,.resume:hover{
  text-decoration: underline;
}
